# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Plex and Wops.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Plex and Wops\.idea\.idea.Plex and Wops\.idea/dataSources/
/dataSources.local.xml
